{% extends "base.html" %}
{% import "macro/tests.html" as cm with context %}
{% from "macro/tests.html" import test_macro %}
{% from "macro/forms.html" import input, radio, radios, textarea, checkbox, select, modal, cal, song %}

<!-- __init_.py 에서 ttt 뱐수를 정의하고 html call 할대 넘겨줄수 있다 -->
{% block test %}
    {% if year %}
    <h1 class="text-center text-primary">
        <small ><a href="/?year={{year-1}}" class="text-muted">{{year-1}}</a></small>
        {{year}}년
        <small ><a href="/?year={{year+1}}" class="text-muted">{{year+1}}</a></small>
    </h1>
    <div class="row">
        {% for mm in range(1,13) | batch(3) %}
            {% for m in mm %}
            <div class="col">
                {% set dt = "%s-%s-01" % (year, m) %}
                {{cal(dt)}}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}

    {% if today %}
    <p>{{today | ymd('%Y-%m-%d %H:%M') | safe}}</p>
    <p>{{today | simpledate | safe}}</p>
    {% endif %}

    <p>{{ 3096 | filesizeformat(True) }}</p>
    <p>{{ "  3096.53456" | float | round(2) }}</p>

    <pre>
        <!-- abc 기 40 글자의 가운데에 위치한다. -->
        {{'abc' | center(40)}}
        {{'abcsdfdsaffdsadasa' | center(40)}}
        {{ ('abcsdfdsaffdsadasa' * 5) | wordwrap(40)}}
        {{ ('abcsdfdsaffdsadasa' * 5) | truncate(40)}}
    </pre>

    <p>{{ttt}}::{{ cm.test_macro('TTTTTTTT1122333') }}</p>
    <p>{{ test_macro('QQQQQQQQQQQ') }}</p>

    {% call(x) cm.test_macro2('Hong', 'bbb') %}
        <p>This is app.html.call block: <strong>{{x}}</strong></p>
    {% endcall %}

    <form class="container">
        <div class="form-group">
            {{radio('r1', 'rdo', 'val1', 'Value1')}}
            {{radio('r2', 'rdo', 'val2', 'Value2', "checked")}}
            {{radio('r3', 'rdo', 'val3', 'Value3')}}
        </div>

        {{radios(radioList)}}

        {{input()}}
        {{input('password', 'pm')}}
        {{textarea('idta', 'content', 'default value')}}

        <!-- making checkbox w/ dictionary 순서를 신경쓰지 않아도 된다-->
        {{checkbox(dict(id='chk1', name='chkname', checked='checked', text='TEXT'))}}
        {{select([dict(id='selid1', text='seltext1', selected=False),
            dict(id='selid2', text='seltext2', selected=True)])}}
    </form>

    <!-- Default unchecked -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
    </div>

    <!-- Default checked -->
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="defaultChecked">Default checked</label>
    </div>

    <button type="button" onclick="openModal('mdl1')" class="btn btn-primary">Open
        modal Test</button>

    {% call modal('mdl1', '테스트 모달', 'fas fa-users', True, "fn_test()") %}
        <h3>Modal body</h3>
        <script>
            function fn_test() {
                alert('qqqqqqqqqqqqqqqqqqqqq');
                closeModal('mdl1');
            }
        </script>
    {% endcall %}

    {{input('password')}}
{% endblock %}

{% block main %}
<!--Section: Magazine v.1-->
<section id="magazine" class="wow fadeIn">

    <!--Section heading-->
    <h2 class="h1 text-center my-5 font-weight-bold">K-POP Top 100</h2>

    <!--Grid row-->
    <div class="row text-left">

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 col-sm-6">

            <h3><a><strong>Live Top 100</strong></a></h3>

            {% for s in lives %}
                {{song(s)}}
            {% endfor %}
            <!--/Small news-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3><a><strong>Today's Top 100</strong></a></h3>

            {% for s in todays %}
            {{song(s)}}
            {% endfor %}
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Magazine v.1-->

<script>
    function addToMyalbum(songno) {
        var url = "/myalbum";
        console.log("url>>", url, songno)
        // url, method, data, dataType, fn
        var $star = $('#star-' + songno);
        send_ajax(url, 'POST', {songno: songno}, 'json', function (res) {
            console.log("res>>", res, res.result, res.result === 'OK')
            if (res && res.result === 'OK') {
                console.log("----------------", $star)
                $star.removeClass('far').addClass('fas');
            }
        });
    }

    function openSongInfo(songno) {
        var url = "/songinfo/" + songno
        console.log("url>>", url)
        // url, method, data, dataType, fn
        var $songinfo = $('#' + songno);
        $('.songinfo').css('display', 'none');
        send_ajax(url, 'GET', '', '', function(res) {
            console.log("res>>", res)
            $songinfo.html(res);
            $songinfo.css('display', 'block');
        });
    }



</script>
{% endblock %}